*{
    margin: 0;
    padding: 0;
}
.scan{
position: relative;
display: flex;
align-items: center;
flex-direction: column;
background-color: red !important;
.qrcode{
    position: relative;
    width: 400px;
    height: 400px;
    background-image: url(./img/QR_Code01.png);
    background-size: 400px;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-image: url(./img/QR_Code02.png);
        background-size: 400px;
        animation: animate 4s linear infinite;
    }
    &::after{
        content: '';
        position: absolute;
        inset: 20px;
        width: calc(100% - 40px);
        height: 2px;
        background-color: #35fd5c;
        filter: drop-shadow(0 0 20px #35fd5c) drop-shadow(0 0 60px #35fd5c);
        animation: animateLine 4s linear infinite;
    }
}
.border{
    position: absolute;
    inset: 0;
    background-image: url(/img/border.png);
    background-image: 400px;
    background-repeat: no-repeat;

}

}

@keyframes animate{
    0%,100%{
        height: 20px;
    }
    50%{
        height:  calc(100% - 20px);

    }
}
@keyframes animateLine{
    0%{
     top: 20px;
    }
    50%{
        top: calc(100% - 20px);
    }
}