@font-face {
    font-family: 'Sakkal Majalla';
    src: url('SakkalMajalla-Bold.woff2') format('woff2'),
        url('SakkalMajalla-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

